$white-dark: #e4e7ed;
$white: #ffffff;

$dialog-overlay: rgba(31, 33, 38, .3);
$dialog-header-bg-color: #f5f7fa;


// 背景层
.hp-dialog-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  // table布局
  display: table;
  width: 100%;
  height: 100%;
  background-color: $dialog-overlay;
  z-index: 9998;
  transition: opacity .3s ease;
}

// 外层
.hp-dialog-wrapper {
  display: table-cell;
  vertical-align: middle;
  // 主题内容
  .hp-dialog-container {
    display: flex;
    flex-direction: column;
    width: 600px;
    margin: 0 auto;
    border-radius: 4px;
    background-color: $white;
    box-shadow: 0 3px 30px 0 rgba(0, 0, 0, .2);
    overflow-y: auto;
    overflow-x: hidden;
  }
}


// 底部
.hp-dialog-footer {
  flex: 0 0 auto;
  padding: 9px 20px;
  text-align: right;
  border-top: 1px solid $white-dark;
  background-color: $dialog-header-bg-color;
  border-radius: 0 0 4px 4px;
  box-shadow: inset 0 -1px 0  #e4e7ed;
  user-select: none;
}

// 进来动画
.hp-dialog-enter-active {
  .hp-dialog-wrapper {
    animation: showDialog .3s;
  }
}

@keyframes showDialog {
  0% {
    transform: scale(0.7);
    -webkit-transform: scale(0.7);
  }
  100% {
    transform: scale(1);
    -webkit-transform: scale(1);
  }
}

// 离开动画
.hp-dialog-leave-active {
  opacity: 0;
}
